.wrapper {
   max-width: 1920px;
   margin: 0 auto;
}

.header__wrapper {
    padding: 0 374px;
}

.header-up {
    display: flex;
    align-items: center;
}

.title-img {
    width: 184px;
    height: 30px;
}

.header__title {
    font-family: Inter;
    font-size: 22px;
    display: flex;
    cursor: pointer;
    position: relative;
}

.title-discription{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    text-transform: uppercase;
    position: absolute;
    color: #959AAE;
    top: 71%;
    left: 20%;
    opacity: 0.6;
}

.header__searching {
    position: relative;
    margin-left: 29px;
}

.header__searching-input {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #2B3350;
    width: 510px;
    height: 51px;
    background: #F7F7F8;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 50px;
    opacity: 0.3;
}

.search-img {
    width: 18px;
    height: 18px; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    cursor: pointer;
    z-index: 9;
}

.header__search {
    border: 0;
    width: 204px;
}


.phone-img {
    width: 25px;
    height: 42px;
    padding-top: 18px;
}

.header__phone {
    text-decoration: none;
    display: flex;
    align-items: center;
}


.number {
    width: 297px;
    padding-top: 20px;
    color: #2B3350;
    font-size: 19px;
    padding-right: 13px;
    font-family: Inter;
}

.header__call {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2B3350;
    padding-top: 18px;
    cursor: pointer;
}

.header__calling {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2B3350;
    display: flex;
    padding-right: 43px;
    list-style: none;
    cursor: pointer;
}

.header-down {
    display: flex;
}

.header__list {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.header__btn {
    background: #2B3350;
    border-radius: 0px 12px 12px 12px;
    color: #ffff;
    width: 180px;
    height: 47px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: Inter;
    margin-right: 34px;
    list-style-type: none;
}

.button-img {
    width: 30px;
    height: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.send-img {
    width: 27px;
    height: 21px;
    padding-top: 3px;
    padding-right: 9px;
    cursor: pointer;
}

.chevron-img {
    width: 20px;
    height: 20px;
    padding-top: 4px;
    padding-left: 4px;
    cursor: pointer;
}

.cart-img {
    width: 30px;
    height: 20px;
    padding-right: 9px;
    cursor: pointer;
}

.cart-add {
    background: #0074D4;
    width: 26px;
    height: 19px;
    border-radius: 27px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 6px;
    margin-top: 2px;
}

